/*--------------------------------*    $COLORS
\*--------------------------------*/*
* Branding Colors
*/
/*--------------------------------*    $MIXINS
\*--------------------------------*/
table tr:hover {
  background-color: #dbd879; }

/*--------------------------------*    $BUTTOMS
\*--------------------------------*/
.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5;
  border-radius: 3px;
  font-size: 24px; }
  .btn__icon {
    font-size: .6em; }
  .btn.btn--info {
    background-color: #42b8dd; }

/*--------------------------------*    $TIPOGRAFIA
\*--------------------------------*/
/*--------------------------------*    $GRIDS
\*--------------------------------*/
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  background-color: #b3b3b3;
  padding: 24px; }
  @media only screen and (min-width: 800px) {
    section {
      background-color: red; } }

.max-width--huge {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

header {
  background-color: #ea83ee; }

/*--------------------------------*    $UTILITIES
\*--------------------------------*/
