/*======================
$COLORS
=======================*/


/*Branding resources
======================*/

/*Branding color
===============*/

$color-brand-principal: red; 
$color-brand-secondary: #eee;


$font-brand-principal: helvetica;

/*Degradez black - white*/

$color-black: #111;
$color-dark-grey: #444;
$color-grey: #999;
$color-lightgrey: #eee;
$color-white: #fee;

/*Textures*/

$color-alert: rgb(252,228,287);
$color-error: red;
$color-info: yellow;
$color-sucess: green;



/* tipography
=============== =*/

$baseFont:  "Quicksand", sans-serif;
$base-font-size: 18px;

$button-color: $color-white;
$background-button-color: $color-brand-principal;







