section {
   @include max-width; 
   background-color: blue;
   @include respond-to(800px) {
       background-color: red;
   } 
   background-color: $color-lightgrey;
   padding: $padding;
}
.max-width--huge {
    @include max-width(80%);
}

header {
    background-color: $color-brand;
}
