/*--------------------------------*\
    $BUTTOMS
\*--------------------------------*/
.btn {
    display: inline-block;
    color: $buttoncolor;
    background-color: $buttonbackgroundcolor;
    line-height: 2.5;
    border-radius: $border-radius;
    font-size: $buttonfontsize;
    &__icon {
        font-size: .6em;
    }

    &.btn--info {
        background-color: $color-info;
    }
}
// B: .btn
//     E
// M